
.bottom-score{
    -fx-text-fill: #38C768;
    -fx-font-size: 35;
    -fx-font-family: "Roboto Light";
}

.question-label{
    -fx-font-size: 48;
    -fx-text-fill: "white";
    -fx-font-family: "Roboto Light";
}

.question-number{
    -fx-font-size: 35;
    -fx-text-fill: "white";
    -fx-font-family: "Roboto Light";
}

.wrong-right-text{
    -fx-font-size: 25;
    -fx-text-fill: "white";
    -fx-font-family: "Roboto Light";
}

.list-cell {
    -fx-background-color: #272727;
    -fx-text-fill: linear-gradient(to left, #1BED62, #21A0E8);
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Light";
}

.redBox{
    -fx-background-color: none;
    -fx-border-radius: 5px;
    -fx-border-color: #e0503d;
}

.greenBox{
    -fx-background-color: none;
    -fx-border-radius: 5px;
    -fx-border-color: #38c768;
}