.description{
    -fx-text-fill:#f8f8f1;
    -fx-font-size:19.0 px;
    -fx-font-family: "Roboto Thin";
}

.button_stay{
    -fx-background-color: none;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 5;
    -fx-text-fill: WHITE;
    -fx-font-size: 17.0 px;
    -fx-font-family: "Roboto Thin";
}

