.text{
    -fx-font-family: "Roboto";
    -fx-content-display: center;
}

.inputQuestion{
    -fx-background-color: none;
    -fx-border-radius: 5;
    -fx-font-size: 36px;
    -fx-text-fill: "white";
}
