@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.ttf');
}

.root{
    -fx-background-color: #272727;
}

.text{
    -fx-font-family: "Roboto";
    -fx-content-display: center;
}

.question{
    -fx-text-fill: #38c768;
    -fx-font-size: 45;
}

.description{
    -fx-font-family: Roboto;
}

.option{
    -fx-stroke: white;
    -fx-background-color: none;
    -fx-border-radius: 5;
}

.questionTitle, #leave{
    -fx-font-size: 20;
}


.option:hover{
    -fx-stroke: linear-gradient(#38c768, #21A0E8);
}

.hover-element{
    -fx-cursor: hand;
}



.timeBar{
    -fx-accent: #21A0E8;
    -fx-border-color: #38c768;
    -fx-border-radius: 5;
}

.progress-bar .track {
    -fx-background-color: #272727;
}

.leave-btn{
    -fx-font-family: "Roboto";
    -fx-font-size: 20;
    -fx-text-fill:  #e0503d;
    -fx-background-color: none;
    -fx-border-color: #e0503d;
    -fx-border-radius: 5px;
}

.submit-btn{
    -fx-font-family: "Roboto";
    -fx-font-size: 20;
    -fx-text-fill:  #38c768;
    -fx-background-color: none;
    -fx-border-color: #38c768;
    -fx-border-radius: 5px;
}

.score{
    -fx-font-size: 30;
    -fx-text-fill: #38c768;
}

.result-text{
    -fx-fill: #FFFFFF;
    -fx-font-size: 25px;
    visibility: hidden;
}