.background{
    -fx-background-color: #272727;
}

.button{
    -fx-font-family: "Roboto-Light";
    -fx-font-size: 33 ;
    -fx-background-color: none;
    -fx-border-radius: 5;
}

.button:hover{
     -fx-opacity: 0.57;
     -fx-cursor: hand;
 }

.greenButton{
    -fx-border-color: #38c768;
    -fx-text-fill: #38c768;
}

.redButton{
    -fx-border-color: #e0503d;
    -fx-text-fill: #e0503d;
}

.helpButton{
    -fx-border-color: "white";
    -fx-text-fill: "white";
}

.title{
    -fx-font-family: 'Roboto Thin';
    -fx-font-size: 100;
    -fx-text-fill: linear-gradient(to left, #1BED62, #21A0E8);
}

.leave-btn{
    -fx-background-color: none;
    -fx-border-color: #E0503D;
    -fx-border-radius: 5;
    -fx-text-fill: #e0503d;
}

.start-btn{
    -fx-background-color: none;
    -fx-border-color: #38c768;
    -fx-border-radius: 5;
    -fx-text-fill: #38c768;
}

.description{
    -fx-font-family: 'Roboto Thin';
    -fx-font-size: 32;
}

.sidebarTitle{
    -fx-font-family: 'Roboto Thin';
    -fx-font-size: 22;
}

.playersList{
    -fx-font-size: 20;
    -fx-font-family: 'Roboto Thin';
}


