.leave{
    -fx-background-color: none;
    -fx-border-color: #E0503D;
    -fx-border-radius: 5;
    -fx-text-fill: #e0503d;
}

.join{
    -fx-background-color: none;
    -fx-border-color: #38C768;
    -fx-border-radius: 5;
    -fx-text-fill: #38c768;
}
.message{
    -fx-text-fill: WHITE;
    -fx-font-size: 20.0 px;
}
.textPrompt{
    -fx-background-color: none;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 5;
    -fx-text-fill: #FFFFFF;
}
.anchor{
    -fx-background-color: #272727;
}

