.option{
    -fx-stroke: white;
    -fx-background-color: none;
    -fx-border-radius: 5;
}

#emojiHolder{
    -fx-background-color: none;
    -fx-stroke: linear-gradient(to right,#38c768, #21A0E8);
}

#jokerHolder{
    -fx-background-color: none;
    -fx-stroke: linear-gradient(to left,#38c768, #21A0E8);
}

.option:hover{
    -fx-stroke: linear-gradient(#38c768, #21A0E8);
}

#timeBar{
    -fx-accent: #21A0E8;
    -fx-border-color: #38c768;
    -fx-border-radius: 5;
}

.progress-bar .track {
    -fx-background-color: #272727;
}
