.global {
    -fx-background-color: #272727;
    -fx-border-radius: 5px;

}

.start {
    -fx-border-color: #38C768;
    -fx-font-size: 25px;
    -fx-background-color: none;
    -fx-text-fill: #38C768;
}

.leave {
    -fx-border-color: #E0503D;
    -fx-font-size: 20px;
    -fx-background-color: none;
    -fx-text-fill: #E0503D;
}
.title {
    -fx-fill: linear-gradient(to left, #1BED62, #21A0E8);
    -fx-font-size: 85px;
    -fx-font-family: "Roboto Light";
}

.textField {
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-background-color: none;
    -fx-font-size: 25px;
}

.leaderboardlist {
    -fx-border-color: linear-gradient(to left, #1BED62, #21A0E8);
}
